.nav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-top: 0.5rem;
}

.link {
  text-decoration: none;
  font-size: 1.1rem;
  color: #444;
  transition: color 0.3s;
}

.link:hover {
  color: #0077ff;
}

.active {
  color: #0077ff;
  font-weight: 600;
}
